<div class="box">
    <div class="insideBox">
    <h5 class="text">
        Medicine Name : {{data.title}}   
    </h5>
    <h5 class="text">
        Frequency : {{data.frequency}}    
    </h5>
    <h5 class="text">
        Interval: {{data.interval}}
        
    </h5>
     <h5 class="text">
        Date : {{data.start}} 
    </h5>
    <h5 class="text">
       Dosage : {{data.dosage}}
    </h5>
    <h5 class="text">
       Notes : {{data.notes}}
    </h5>
    <button class="button" mat-raised-button color="warn" [mat-dialog-close]="'Closed by button'">Close</button>
    <button class="button" mat-raised-button color="warn" (click)="deleteEvent()">Delete event</button>

</div>
</div>
