.eventBox{
    position: absolute;

   inset: 0;
  border-radius: 25px;
  display: flex;  
  align-items: center;
  justify-content: center;
  border: 2px solid #333; 
  margin: 15px;
  height: 650px;
  width:  450px;
  background-color: #FAA18F;
  box-sizing: border-box;
  margin-left: 600px;
   z-index: 1; 
}

.buttonClose{
  margin-left: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio{
  display: flex;
  gap: 10px;

}

.table{
  margin-top: 20px;
}

.mat-mdc-form-field{
  width: 250px;
}

