<div class="header">
    <button type="button" (click)="showForm()" mat-raised-button color="accent">Add event</button>
    <mat-radio-group aria-label="Select an option" class="radio" (change)="changeView($event.value)">
        <mat-radio-button class="radioButton" value="dayGridMonth">Month</mat-radio-button>
        <mat-radio-button class="radioButton" value="dayGridWeek">Week</mat-radio-button>
        <mat-radio-button class="radioButton" value="listView" (click)="viewEvents()">List</mat-radio-button>
    </mat-radio-group>
</div>
<full-calendar #calendar [options]="calendarOptions" *ngIf="calendarView !== 'listView'"></full-calendar>
<div class="eventBox" *ngIf="isVisible">
    <form (ngSubmit)="onSubmit()" [formGroup]="addevent">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Medicine Name</mat-label>
                <input matInput name="name"  value="" formControlName="name">
            </mat-form-field>
            <div
                *ngIf="addevent.get('name')?.invalid && (addevent.get('name')?.dirty || addevent.get('name')?.touched)">

                <div *ngIf="addevent.get('name')?.hasError('required')">Please enter subject</div>
            </div>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Dosage</mat-label>
                <input matInput value="">
            </mat-form-field>
        </div>
        <div>
        <mat-form-field>
            <mat-label>Frequency</mat-label>
            <mat-select (selectionChange)="onFrequencySelect($event.value)" formControlName="frequency">
                <mat-option *ngFor="let freq of frequenc" [value]='freq.value'>
                    {{freq.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div
                *ngIf="addevent.get('frequency')?.invalid && (addevent.get('frequncy')?.dirty || addevent.get('frequency')?.touched)">

                <div *ngIf="addevent.get('frequency')?.hasError('required')">Please enter subject</div>
            </div>
    </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Interval</mat-label>
                <input type="number" name="interval" matInput value="" 
                    formControlName="interval">
            </mat-form-field>
            <div
                *ngIf="addevent.get('interval')?.invalid && (addevent.get('interval')?.dirty || addevent.get('interval')?.touched)">

                <div *ngIf="addevent.get('interval')?.hasError('required')">Please enter subject</div>
            </div>
        </div>
        <div class="dates">
            <mat-form-field>
                <mat-label>Choose a start date</mat-label>
                <input matInput [matDatepicker]="picker" name="start" formControlName="startDate">

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div
                *ngIf="addevent.get('startDate')?.invalid && (addevent.get('startDate')?.dirty || addevent.get('startDate')?.touched)">

                <div *ngIf="addevent.get('startDate')?.hasError('required')">Please enter subject</div>
            </div>
        </div>
        <div class="dates">
            <mat-form-field>
                <mat-label>Choose a end date</mat-label>
                <input matInput [matDatepicker]="picker2" name="end" formControlName="endDate">

                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <div
                *ngIf="addevent.get('endDate')?.invalid && (addevent.get('endDate')?.dirty || addevent.get('endDate')?.touched)">

                <div *ngIf="addevent.get('endDate')?.hasError('required')">Please enter subject</div>
            </div>
        </div>

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Add note</mat-label>
                <input name="frequency" matInput value="" >
            </mat-form-field>
        </div>

        <div>
            <button type="submit" mat-raised-button color="primary">Submit</button>
            <button class="buttonClose" *ngIf="isVisible" type="button" (click)="closeForm()" mat-raised-button
                color="warn">Close</button>

        </div>

    </form>
</div>

<app-table [AllEvents]="AllEvents"></app-table>
